.app{
  height: 100vh;
  background: #CB356B;
  background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
  background: linear-gradient(to right, #BD3F32, #CB356B); 
}
.search_results{
  width: 300px;
  height: 200px;
  background-color: #fff;
  overflow: scroll;
}
.no_search_box{
  width: 0;
  height: 0;
  overflow: hidden;
}