.App{
  box-sizing: border-box;

}

.items{
  color: whitesmoke;
  border: 3px solid teal;
  background-color:rgb(75, 75, 75);
  padding-left: 10px;
  width: 490px;
  text-align: center;
  margin: 1rem auto;
}
.add_food{
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: rgb(36, 36, 36);
  border: none;
  padding: 15px;
  margin-left: 1rem;
  display: inline-flex;
  justify-items: center;
  color: white;
  opacity: 0.8;
  &:hover{
    transition: .2s ease-in-out;
    transform: scale(0.96);
    background-color: rgb(49, 199, 49);
    color: rgb(36, 36, 36);
  }
}
.open{
  transition: 0.5s ease-in-out;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
}
.close{
  transition: 1s, ease-in-out;
  margin: 0 auto;
  width: 0;
  height: 0;
  overflow: hidden;
}
.title{
  font-size: 15px;
  color: rgb(250, 156, 171);
}
.grams{
  margin-left: 0.5rem;
}
.hide_grams{
  display: none;
}
.search_btn{
  width:248.5px;
  border: 1rem;
  border:none;
  margin: 5px 0 0 5px;
  height: 2.5rem;
  border-radius: 5px;
  
}
.search_bar{
  width: 500px;
  border:none;
  text-align: center;
  height: 2.5rem;
  background-color: honeydew;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 1.5rem;
  color: darkslategrey;
}
.searching{
  padding-top: 1rem;
  text-align: center;
}
.search{
  text-align: center;
}
.stats{
  display: inline-flex;
  padding: 20px;
  color:rgb(39, 39, 39);
  h5{
    margin: 15px;
    padding: 10px;
  }
}

.progress-bar{
  margin: 0 auto;
  height: 5px;
  width: 75%;
  border-radius: 1em;
  border: 1px solid rgb(209, 209, 209);
}
.filler{
  background:rgb(54, 54, 197);
  height: 100%;
  border-radius: inherit;
  transition: width .3s ease-in;
}