///// variables////
$box-shadow-dark-large: 4px 10px 40px rgba(75, 75, 75, 0.8);
$box-shadow-dark-small: 3px 6px 10px rgba(75, 75, 75, 0.7);
$box-shadow-light-small:3px 8px 14px rgba(200,200,200, 0.9);
$box-bg-white: rgba(255,255,255, 0.5);

//////////////// SETUP PAGE /////
.set_up_parent{
  display: grid;
  grid-template-columns: (562px 562px);
  grid-template-rows:(450px 450px);
  align-items: center;
  justify-items: center;

  .selected{
    transition: 0.2s ease-in-out!important;
    border: none !important;
    color: white;
    background-color:rgba(36, 161, 36,0.8)!important;
    box-shadow: $box-shadow-light-small!important;
  }

  .set_up{
    grid-row: 1/3;
    grid-column: 1/3;
    text-align: center;

    .welcome{
      font-size: 4rem;
    }
  }

  .set_up_settings{
    background-color:$box-bg-white;
    border-radius: 10px;
    box-shadow: $box-shadow-dark-large;
    text-align: center;
    grid-row: 1/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(5 1fr);
    min-width: 700px;
    min-height: 680px;
    max-height: 800px;
    .gender{
      grid-row: 1/2;
      display: inline-flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 2rem ;
      border-bottom: 3px solid white;
      h4{
        margin-right: 10px;
        font-size: 1.3rem;
        opacity: 0.9;
      }
      span{
        transition: 0.3s ease-in-out;
        border: 3px solid rgba(255,255,255,0.6);
        border-radius: 10px;
        background-color: $box-bg-white;
        display: flex;
        padding: 10px;
        opacity: 0.9;
        font-size: 3rem;
        margin: 1rem 0 1rem 0;
        box-shadow: $box-shadow-dark-small;
        &:hover{
          transform: scale(0.98);
          box-sizing: border-box;
          transition: 0.3s ease-in-out;
          box-shadow: $box-shadow-light-small;
          border: 3px solid rgba(0, 0, 0, 0.5);
        }
      }
    }

    .age{
      grid-row: 2/3;
      display: inline-flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 2rem ;
      border-bottom: 3px solid white;
      h4{
        font-size: 1.3rem;
        opacity: 0.9;
      }
      input{
        font-size: 1.2rem;
        border-radius: 10px;
        border: none;
        padding: 3px 0px 3px 10px;
        box-shadow: $box-shadow-dark-small;
        opacity: 0.8;
        &:focus{
          outline: 2px solid teal;
          outline-offset: 4px;
        }
      }
    }

    .height{
      grid-row: 3/4;
      display: inline-flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 2rem 0 2rem;
      border-bottom: 3px solid white;
      
      h4{
        font-size: 1.3rem;
        opacity: 0.9;
      }

      select{
        border-radius: 10px;
        margin-right: -3.5rem;
        padding: 1rem;
        border: none;
        box-shadow: $box-shadow-dark-small;
        font-size: 1rem;
        opacity: 0.8;
      }
    }

    .weight{
      display: inline-flex;
      justify-content: space-evenly;
      align-items: center;
      border-bottom: 3px solid white;
      margin: 0 2rem 0 2rem;
      
      h4{
        font-size: 1.3rem;
        opacity: 0.9;
      }
      span{
        border: 2px solid white;
        background-color: $box-bg-white;
        border-radius: 10px;
        padding: 0.6rem;
        font-size: 1rem;
        font-weight: 700;
        opacity: 0.9;
        transition: 0.3s ease-in-out;
        box-shadow: $box-shadow-dark-small;
        &:hover{
          transition: 0.3s ease-in-out;
          box-shadow: $box-shadow-light-small;
          transform: scale(0.98);
        }
      }

      input{
        font-size: 1rem;
        border-radius: 10px;
        border: none;
        font-weight: 500;
        padding: 6px 0px 6px 10px;
        box-shadow: $box-shadow-dark-small;
        opacity: 0.8;
        &:focus{
          outline: 2px solid teal;
          outline-offset: 4px;
        }
      }
    }

    .goal{
      display: inline-flex;
      justify-content: space-evenly;
      align-items: center;
      border-bottom: 3px solid white;
      margin: 0 2rem 0 2rem;

      h4{
        font-size: 1.3rem;
        opacity: 0.9;
      }

      span{
        opacity: 0.8;
        transition: 0.3s ease-in-out;
        border: 2px solid white;
        border-radius: 10px;
        padding: 10px;
        background-color: $box-bg-white;
        box-shadow: $box-shadow-dark-small;
        &:hover{
          opacity: 0.8;
          transition: 0.3s ease-in-out;
          transform: scale(0.98);
          box-shadow: $box-shadow-light-small;
        }
      }
      .slider_hide{
        display: none !important;
      }
      .slider_show{
        label{
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: 1.5px;
        }
        .slider{
          color: yellow;
          background-color: red;
        }
      }
    }

    .activity{
      display: inline-flex;
      justify-content: space-evenly;
      align-items: center;
      border-bottom: 3px solid white;
      margin: 0 2rem 0 2rem;

      h4{
        font-size: 1.3rem;
        opacity: 0.9;
        margin-right: 0.2rem;
      }

      span{
        border: 2px solid white;
        border-radius: 10px;
        background-color: $box-bg-white;
        padding: 0.6rem;
        margin: 0 0.3rem;
        box-shadow: $box-shadow-dark-small;
        &:hover{
          box-shadow: $box-shadow-light-small;
        }
      }
    }

    .finish_btn_div{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -1rem 2rem;

        .finish_btn{
          transition: 0.3s ease-in-out;
          width: 100%;
          margin: 2rem 0;
          padding: 0.7rem;
          border-radius: 10px;
          background-color: $box-bg-white;
          border: none;
          box-shadow: $box-shadow-dark-small;
          font-size: 1.3rem;
          opacity: 0.9;
          &:hover{
            transition: 0.3s ease-in-out;
            background-color:rgba(36, 161, 36,0.8);
            color: white;
            opacity: 0.9;
            box-shadow: $box-shadow-light-small;
          }
        }
    }

    .hide_finish_btn{
      opacity: 0;
      visibility: hidden;
    }
  }
}


//////////////////////// DASHBOARD ///////////////////

.dashboard{
  border: 0.1px solid silver;
  height: 97vh;
  text-align: center;
  h3{
    opacity: 0.8;
    text-decoration: underline;
    font-size: 4rem;
  }
  .inner_dash{
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 45vh;

    div{
      border-radius: 10px;
      transition: 0.4s ease-in-out;
      border: 2px solid white ;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px;
      height: 30vh;
      background-color: white;
      opacity: 0.5;
      font-size: 10rem;
      box-shadow: 5px 10px 20px rgb(75, 75, 75);
      
      &:hover{
        cursor: pointer;
        transition: 0.4s ease-in-out;
        transform: scale(1.04);
        box-shadow: 10px 15px 25px rgb(125, 125, 125);
      }
      span{
        margin-top: 5px;
        margin-bottom: -10px;
        font-size: 1.5rem;
      }
    }
  }
}

///////////////// Search Page ///////////////

.search{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;


  .stats{
    margin-top: 2.5rem;
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .progress-bar{
      height: 10px;
      width: 125px;
      border-radius: 1em;
      border: 1px solid rgb(209, 209, 209);
    }
    .filler{
      background:rgb(54, 54, 197);
      height: 100%;
      border-radius: inherit;
      transition: width .3s ease-in;
    }
  }

  .tracker_dash_btn{
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .searching{
    grid-row: 1/2;
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    text-align: center;
    

    .search_bar{
      border-radius: 1rem;
      border: none;
      cursor: pointer;
      width: 97%;
      margin: 4px 0;
      padding: 0.5rem;
      text-align: center;
      font-size: 19px;
      font-weight: 600;
      font-family: monospace;
      background-color: rgba(255, 255, 255, 0.8);
    }
    button{
      transition: 0.2s ease-in-out;
      border-radius: 1rem;
      width: 49.5%;
      border: none;
      padding: 0.5rem;
      background-color: rgba(240, 240, 240, 0.8);
      color: #333;
      font-size: 1.1rem;
      outline: none;
      cursor: pointer;
      &:hover{
        transition: 0.2s ease-in-out;
        background-color: rgba(80, 220, 100, 0.7);
      }
    }
  }

  .open{
    margin-top: 5rem;
    grid-row: 1/4;
    grid-column: 2/4;
    

    .items{
     background-color: $box-bg-white;
     padding: 0.5rem;
     border-radius: 10px;
     box-shadow: $box-shadow-dark-large;
     color: #333;
     opacity: 0.9;
     font-size: 17px;
     margin-top: 1.5rem;

      .title{
        color: rgb(168, 5, 168);
        font-size: 17px;
      }

      .no_grams{
        display: none;
      } 

      .add_food_btn{
        display: flex;
        justify-content: end;
        button{
          transition: 0.2s ease-in-out;
          border-radius: 50%;
          height: 45px;
          width: 45px;
          border: none;
          box-shadow: $box-shadow-dark-small;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color:rgba(80, 220, 100, 0.8);
          cursor: pointer;
          color: inherit;
          &:hover{
            transition: 0.2s ease-in-out;
            transform: scale(1.05);
          }
        }
      }

      .input_text{
        input{
          border: none;
          padding: 6px 0;
          width: 12%;
          text-align: center;
          font-family: monospace;
          font-weight: 500;
          font-size: 1rem;
          border-radius: 5px;
          &:hover{
            cursor: pointer;
          }
        }
        button{
          transition: 0.2s ease-in-out;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: none;
          margin-left: 10px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(80, 220, 100, 0.7);
          color: #333;
          &:hover{
            transition: 0.2s ease-in-out;
            cursor: pointer;
            transform: scale(1.05);
          }
        }
      }
      .no_input{
        display: none;
      }
    }
  }

  .close{
    display: none;
  }

  .todays_food{
    margin: 5rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


  }
}



