.App{
  box-sizing: border-box;

}

.date{
  color: #333;
}

.items{
  color: whitesmoke;
  border: 3px solid teal;
  background-color:rgb(75, 75, 75);
  padding-left: 10px;
  width: 46rem;
  text-align: center;
  margin: 1rem auto;
}
.add_food{
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: rgb(36, 36, 36);
  border: none;
  padding: 15px;
  margin: 0.5rem;
  display: inline-flex;
  justify-items: center;
  color: white;
  opacity: 0.8;
  &:hover{
    transition: .2s ease-in-out;
    transform: scale(0.96);
    background-color: rgb(49, 199, 49);
    color: rgb(36, 36, 36);
  }
}
.open{
  transition: 0.5s ease-in-out;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
}
.close{
  transition: 1s, ease-in-out;
  margin: 0 auto;
  width: 0;
  height: 0;
  overflow: hidden;
}
.title{
  font-size: 15px;
  color: rgb(250, 156, 171);
}
.grams{
  margin-left: 0.5rem;
}
.hide_grams{
  display: none;
}
.search_btn{
  width:22.98rem;
  border: 1rem;
  border:none;
  margin: 5px 0 0 5px;
  height: 2.5rem;
  border-radius: 5px;
  &:hover{
    background-color: rgb(79, 79, 255);
    cursor: pointer;
  }
  
}
.search_bar{
  width: 46rem;
  border:none;
  text-align: center;
  height: 2.5rem;
  background-color: honeydew;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 1.5rem;
  color: darkslategrey;
}
.searching{
  padding-top: 1rem;
  text-align: center;
}
.search{
  text-align: center;
}
.stats{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin-bottom: 2rem;
  min-width: 200px;
  color:rgb(39, 39, 39);
  box-shadow:5px 4px 20px rgb(252, 229, 186);
  h5{
    margin: 15px;
    padding: 10px;
  }
}

.foods{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 1rem;
  h5{
    padding-left: 2rem;
  }
}

.foods_shadow{
  box-shadow:3px 4px 20px silver;
  padding-top: 1rem;
}

.progress-bar{
  margin: 0 auto;
  height: 10px;
  width: 75%;
  border-radius: 1em;
  border: 1px solid rgb(209, 209, 209);
}
.filler{
  background:rgb(54, 54, 197);
  height: 100%;
  border-radius: inherit;
  transition: width .3s ease-in;
}
.input_text{
  color: black;
}
.no_input{
  display: none;
}
.grams_input{
  margin-left: 7px;
  border: 0.5px solid white;
  border-radius: 5px;
  margin-right: 5px;
  height: 26px;
  width: 100px;
  background-color: rgb(80, 80, 80);
  color: white;
  font-size: 18px;
  text-align: center;
}

.add_grams_btn{
  border: none;
  border-radius: 5px;
  height: 32px;
  background-color: rgb(36, 36, 36);
  color: whitesmoke;
  &:hover{
    transition: 0.2s ease-in-out;
    background-color: rgb(49, 199, 49);
    color: black;
    cursor: pointer;
  }
}
.white{
  font-size: 17;
  color: whitesmoke;
}
.accent{
  color:purple;
  font-size: 17px;
}

//////////// SET UP PAGE CSS /////////////////

.welcome{
  text-align: center;
  margin-top: 20rem;
  font-size: 2.5rem;
  span{
    font-size: 4rem;
    &:hover{
      transition: 0.2s ease-in-out;
      color: rgb(230, 224, 224);
    }
  }
}
.welcome_clicked{
  transition: 1s ease-in-out;
  margin-left: -1000px;
}

.personal_info_hidden{
  display: none;
}

.personal_info{
  text-align: center;
  margin-top: -7rem;
  font-size: 2rem;
  span{
    cursor: pointer;
    font-size: 4rem;
    min-width: 66px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    &:hover{
      box-shadow: 2px 4px 15px rgb(209, 206, 206);
    }
  }
  input{
    cursor: pointer;
    width: 80px;
    height: 25px;
    text-align: center;
    border: 1px solid whitesmoke;
    background-color: none;
    &:focus{
      outline: solid  teal;
      outline-offset: 4px;
    }
  }
}

.radio_highlight{
  background-color: green;
  color: white;
  margin: 0;
}

.nothing{
  color: black
}

.weight{
  margin: 0 auto;
  border: 2px solid wheat;
  padding-bottom: 20px;
  width: 40%;
  box-shadow: 2px 8px 20px rgb(209, 206, 206);
  span{
    cursor: pointer;
    font-size: 2.3rem;
    width: 66px;
  }
}

.gender{
  margin: 0 auto;
  border: 2px solid wheat;
  padding-bottom: 20px;
  width: 40%;
  margin-bottom: 10px;
  box-shadow: 2px 8px 20px rgb(209, 206, 206);
}
.age{
  margin: 0 auto;
  border: 2px solid wheat;
  padding-bottom: 20px;
  width: 40%;
  margin-bottom: 10px;
  box-shadow: 2px 8px 20px rgb(209, 206, 206);
}
.btn_to_final_page{
  width: 10%;
  margin: 20px auto;
  text-align: center;
  font-size: 3rem;
  &:hover{
    color: rgb(67, 185, 67);
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
}
.final_page_hidden{
  display: none;
}

.final_page_show{
  text-align: center;
  margin: 0 auto;
  border: 2px solid wheat;
  padding-bottom: 20px;
  width: 40%;
  font-size: 2rem;
  box-shadow: 2px 8px 20px rgb(209, 206, 206);
  span{
  cursor: pointer;
    font-size: 2rem;
    min-width: 66px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    &:hover{
      box-shadow: 2px 4px 15px rgb(209, 206, 206);
    }
  }
}

.slider_show{
  transition: 2s, ease-in-out;
  color: black;
}

.slider_hide{
  display: none;
  transition: 2s, ease-in-out;
  margin: -1000px;
}

.back_arrow{
  font-size: 3rem;
  margin: 0 auto;
  text-align: center;
  &:hover{
    transition: 0.2s ease-in-out;
   color: rgb(231, 80, 80);
  }
}

.finish_btn_div{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.finish_btn{
  width: 440px;
  height: 50px;
  margin: 20px auto;
  text-align: center;
  border-radius: 5px;
  &:hover{
    background-color: green;
    box-shadow: 2px 4px 15px rgb(209, 206, 206);
  }
  &:focus{
    outline:solid teal;
    outline-offset:4px ;
  }
}