.App{
  box-sizing: border-box;

}

.date{
  color: #333;
}

.items{
  color: whitesmoke;
  border: 3px solid teal;
  background-color:rgb(75, 75, 75);
  padding-left: 10px;
  width: 46rem;
  text-align: center;
  margin: 1rem auto;
}
.add_food{
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: rgb(36, 36, 36);
  border: none;
  padding: 15px;
  margin: 0.5rem;
  display: inline-flex;
  justify-items: center;
  color: white;
  opacity: 0.8;
  &:hover{
    transition: .2s ease-in-out;
    transform: scale(0.96);
    background-color: rgb(49, 199, 49);
    color: rgb(36, 36, 36);
  }
}
.open{
  transition: 0.5s ease-in-out;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
}
.close{
  transition: 1s, ease-in-out;
  margin: 0 auto;
  width: 0;
  height: 0;
  overflow: hidden;
}
.title{
  font-size: 15px;
  color: rgb(250, 156, 171);
}
.grams{
  margin-left: 0.5rem;
}
.hide_grams{
  display: none;
}
.search_btn{
  width:22.98rem;
  border: 1rem;
  border:none;
  margin: 5px 0 0 5px;
  height: 2.5rem;
  border-radius: 5px;
  &:hover{
    background-color: rgb(79, 79, 255);
    cursor: pointer;
  }
  
}
.search_bar{
  width: 46rem;
  border:none;
  text-align: center;
  height: 2.5rem;
  background-color: honeydew;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 1.5rem;
  color: darkslategrey;
}
.searching{
  padding-top: 1rem;
  text-align: center;
}
.search{
  text-align: center;
}
.stats{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin-bottom: 2rem;
  min-width: 200px;
  color:rgb(39, 39, 39);
  box-shadow:5px 4px 20px rgb(252, 229, 186);
  h5{
    margin: 15px;
    padding: 10px;
  }
}

.foods{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 1rem;
  h5{
    padding-left: 2rem;
  }
}

.foods_shadow{
  box-shadow:3px 4px 20px silver;
  padding-top: 1rem;
}

.progress-bar{
  margin: 0 auto;
  height: 10px;
  width: 75%;
  border-radius: 1em;
  border: 1px solid rgb(209, 209, 209);
}
.filler{
  background:rgb(54, 54, 197);
  height: 100%;
  border-radius: inherit;
  transition: width .3s ease-in;
}
.input_text{
  color: black;
}
.no_input{
  display: none;
}
.grams_input{
  margin-left: 7px;
  border: 0.5px solid white;
  border-radius: 5px;
  margin-right: 5px;
  height: 26px;
  width: 100px;
  background-color: rgb(80, 80, 80);
  color: white;
  font-size: 18px;
  text-align: center;
}

.add_grams_btn{
  border: none;
  border-radius: 5px;
  height: 32px;
  background-color: rgb(36, 36, 36);
  color: whitesmoke;
  &:hover{
    transition: 0.2s ease-in-out;
    background-color: rgb(49, 199, 49);
    color: black;
    cursor: pointer;
  }
}
.white{
  font-size: 17;
  color: whitesmoke;
}
.accent{
  color:purple;
  font-size: 17px;
}

//////////// SET UP PAGE CSS /////////////////

.welcome{
  transition: 2s ease-in-out;
  position: relative;
  text-align: center;
  margin: 30% auto 0 auto;
  font-size: 2rem;
  span{
    font-size: 4rem;
    &:hover{
      transition: 0.2s ease-in-out;
      color: rgb(230, 224, 224);
    }
  }
}
.welcome_clicked{
  position: relative;
  transition: 2s ease-in-out;
  margin-left: -1000px;
}

.personal_info{
  display: none;
  text-align: center;
  margin: -4rem auto;
}