.App{
  box-sizing: border-box;

}

.items{
  border: 3px solid teal;
  background-color:salmon;
  padding-left: 10px;
  width: 50%;
  text-align: center;
}
.add_food{
  margin-bottom: 10px;
  border-radius: 1em;
  background-color: skyblue;
  border: none;
  padding: 10px 20px 10px 15px;
  margin-left: 1rem;
}
.open{
  transition: 0.5s ease-in-out;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
}
.close{
  transition: 1s, ease-in-out;
  margin-left: -300px;
  width: 0;
  height: 0;
  overflow: hidden;
}
.title{
  font-size: 15px;
  color: darkmagenta;
}
.grams{
  margin-left: 0.5rem;
}
.hide_grams{
  display: none;
}
.search_btn{
  width:248.5px;
  border: 1rem;
  border:none;
  margin: 5px 0 0 5px;
  height: 2.5rem;
  border-radius: 5px;
  
}
.search_bar{
  width: 500px;
  border:none;
  text-align: center;
  height: 2.5rem;
  background-color: honeydew;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 1.5rem;
  color: darkslategrey;
}
.searching{
  padding-top: 1rem;
  text-align: center;
}
.search{
  text-align: center;
}